* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Courier, monospace;
  }
  html, body {
    height: 100%;
    width: 100%;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
  }
  .card {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    overflow: hidden;
    width:600px;
    height:440px
  }
  .content {
    width: 50%;
    height: 100%;

  }
  .image-container {
    width: 50%;
    height: 100%;
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 1rem;
  }
  @media(max-width:527px){
    .card{
        display:flex;
        flex-direction: column;
        width:90vw;
        height:95vh;
    }
    .image-container {
        width: 100%;
        height: 45%;
        background-image: url('./images/image-product-mobile.jpg');
        background-size: cover;
      }
    .content{
        width:100%;
        height:60%;
    }

  }
  .type{
    font-size:12px;
    color:hsl(228, 12%, 48%);
    font-weight: 550;
  }
  h2{
    font-family:Fraunces;
    font-size: 31.8px;
    line-height: 30px;
  }
  p{
    font-size:15px;
    line-height: 22px;
    font-weight: 400;
    color:hsl(228, 12%, 48%);
  }
  .present{
    font-size: 32px;
    font-family:Fraunces;
    font-weight: 650;
    color:hsl(158, 36%, 37%);
  }
  .price{
    display: flex;
    align-items: center;
  }
  .original{
    padding:20px;
    font-size:13.2px;
    text-decoration: line-through;
    font-weight: 500;
    color:hsl(228, 12%, 48%);
  }
  button{
    padding:13px;
    border-radius:0.5rem;
    background-color: hsl(158, 42%, 18%);
    color: aliceblue;
    font-weight: 700;
    align-items: center;
    margin-bottom: 10%;
  }
  .btn img{
    margin-top: 1px;
  }
  
  
  

  